body{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul{
    height: 5rem;
    background-color: white;
}

.home{
    margin-top: 2rem;
    text-align: center;
    color: #ffff;
}

.blogs{
    text-align: center;
    color: #fff;
    margin-left: 1rem;

}


a:link{
    color: yellow;
}

a:visited{
    color: yellow;
}

a:hover{
    color: #000;
}

a:active{
    color: chartreuse;
}


.footer { margin-top:2rem; font-size:1rem; text-align:center;
    background: #302b63; 
 }
.footer ul { margin: 0; padding: 0; list-style-type: none; text-align: center; }
.footer ul li { display:inline; padding:1.8em;  }
.footer ul li > a { padding:1em 0;  }


@media only screen and (max-device-width: 480px) {
    .footer ul li { display:block; padding:.5em;  }
  }