



body{
    background-color: #ffff;
    padding: none;
    margin: none;
   
    
    
}
h2{
    font-family: 'Candal', sans-serif;
}
.sidepanel {
    height: 400px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    margin-top: none;
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
  }
  
  .openbtn:hover {
    background-color: #444;
  }



  /*----------------coresol-----------------------*/
  @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@font-face {
  font-family: 'Queens Park';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/queens-park.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
section { display: flex; }
body > h1 { 
  font-family: Queens Park, serif;
  font-size: 4rem;
  text-align: center; 
}
article { 
  margin: 1rem;
  -ms-flex: 1 0 0px;
  flex: 1; 
  /* shortcut for "flex-grow: 1". Note that it MUST be a unitless value to work; defined with a unit (e.g. flex: 1px) the shortcut would alter the flex-basis property. */
}
article.breaking { 
  -ms-flex-grow: 2; 
  flex: 2; 
  /* shortcut for "flex-grow: 2" */
} 
 
article img { 
  width: 100%; height: auto; 
}
article h1, article h2, article h3 { font-family: Oswald, serif; }
article h1 { 
  font-size: 2rem; 
  line-height: 1.3;
}
article h2, article h3 { 
  font-size: 1.2rem; 
  text-align: right; 
  line-height: 1.3;
  margin: .3rem 0;
  font-weight: 300;
}
article h3 { 
  font-size: 1.1rem; 
}
article p { 
  font-family: Merriweather;
  line-height: 1.6; 
}
@media screen and (max-width: 750px) {
  body > h1 { font-size: 3rem; }
  section { 
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column; 
  }
}



  /*--------------------blogs-------------*/


  c-list {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
  }
  
  c-card {
    background-color: #fff;
    display: flex;
    margin: 11px;
    width: 350px;
    flex-direction: column;
    box-shadow: none;
    transition: 0.3s ease-in-out;
  }
  c-card:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  }
  c-card c-content {
    padding: 20px;
  }
  c-card c-content h3 {
    margin: 0 0 0.3em 0;
    font-size: 1.2em;
  }
  c-card c-content p {
    color: #595959;
  }
  c-card c-img {
    height: 150px;
  }
  c-card[dark] {
    background-color: #000;
    color: #eee;
  }
  c-card[dark] c-content p {
    color: #bbbbbb;
  }
  c-card[x2] {
    width: 716px;
  }
  c-card[x3] {
    width: 1100px;
  }
  c-card[side] {
    flex-direction: row;
  }
  c-card[ad] {
    border-top: 5px solid #688235;
  }
  c-card h6 {
    color: #688235;
    margin: 0;
  }
  


  /*---------------------------------------cards conatiner------------------------------------*/
  @import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap");
 
  .color-change1{
    background-color: #00002a;
  }
  /* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
  }
  */
  img {
    width: 100%;
    vertical-align: top;
  }
  
  .card {
    text-align: center;
  }
  .card__img {
    margin-bottom: 30px;
  }
  .card__title {
    font-family: var(--title-font);
    text-transform: capitalize;
    color: yellow;
    line-height: 35px;
    font-size: 24px;
  }
  .card__text {
    font-family: var(--text-font);
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .card__readbtn {
    font-family: var(--text-font);
    font-size: 14px;
    text-transform: uppercase;
    color: red;
    text-decoration: none;
    line-height: 26px;
    transition: all ease 0.3s;
    position: relative;
  }
  .card__readbtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--dark);
    transition: all ease 0.3s;
  }
  .card__readbtn:hover {
    color: grey;
  }
  .card__readbtn:hover::after {
    width: 100%;
  }
  
  .divider {
    background-color: var(--faded-gray);
    height: 2px;
    max-width: 30px;
    margin: 15px auto 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    max-width: 1300px;
    margin: 50px auto;
    padding: 0 10px;
  }
/*-----------Footer------------------------*/